## T.Sneha Reddy
## AP19110010124, CSE.
### DAY-8 TASK(15/6/21)

**Tasks**  
1.Create a function for finding leap years within the given range  
2.Create a function for getting armstrong number in given range  
3.Create a function for getting prime numbers within a given range  
4.Create a function for finding the count of elements in a given string "Srm University"

**TASK 1**

In [3]:
def leap_year(start,end):
    for i in range(start,end):
        if (i % 4 == 0 and i % 100 != 0) or (i % 400 == 0):
            print(i, end = '\t')
leap_year(1990,2014)

1992	1996	2000	2004	2008	2012

**TASK 2**

In [5]:
def armstrong(start,end):
    for num in range(start,end + 1):  
        sum = 0  
        temp = num  
        while temp > 0:  
            digit = temp % 10  
            sum += digit ** 3  
            temp //= 10  
        if num == sum:  
            print(num) 
            
armstrong(100,1000)

153
370
371
407

**TASK 3**

In [6]:
def prime(start,end):
    def prime1 (n):
        count=0
        for i in range(1,n+1):
            if n%i==0:
                count+=1
        if count==2:
            print(n)
    for i in range(start,end+1):
        prime1(i)
prime(1,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

**TASK 4**

In [7]:
def count_string(s):
    res={}
    for i in s:
        if i in res:
            res[i]+=1
        else:
            res[i]=1
    return res
    

print(count_string("Srm University"))

{'S': 1, 'r': 2, 'm': 1, ' ': 1, 'U': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 't': 1, 'y': 1}