## T. SNEHA REDDY
## AP19110010128, CSE
### Day28 TASK(8-07-2021)



### **Task:**

- Apply Random Forest model for the given data set
- https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv

In [1]:
import pandas as pd

In [2]:
# Loading Dataset

df=pd.read_csv("https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [3]:
# Checking shape of the dataset
df.shape

(214, 10)

In [7]:
# Checking null values in dataset
df.isnull().sum().sum()

0

In [9]:
# splitting input and output data

x=df.drop("Type",axis=1)
y=df["Type"]

In [11]:
# splitting training and testing data

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=43)

In [ ]:
# Importing model and fitting data

from sklearn.ensemble import RandomForestClassifier

rf=RandomForestClassifier()
rf.fit(x_train,y_train)

In [15]:
# Predicting test values

y_pred=rf.predict(x_test)

In [16]:
# checking confusion matrix to know how many wrong predictions are there

from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,y_pred)

array([[23,  7,  1,  0,  0,  0],
       [ 4, 24,  2,  2,  0,  0],
       [ 2,  1,  1,  0,  0,  0],
       [ 0,  2,  0,  4,  0,  1],
       [ 0,  1,  0,  0,  2,  0],
       [ 0,  1,  0,  0,  0,  8]], dtype=int64)

In [18]:
# Checking accuracy of our model

from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)*100

72.09302325581395