## T. Sneha Reddy
## AP19110010124, CSE.
### DAY-6 TASK(12/6/21)

**Tasks**

1.Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys

2.Write a Python program to map two lists into a dictionary

3.Write a Python program to sort a list alphabetically in a dictionary
    
   (i).input : {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
    
   (ii).output : {'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

**TASK 1**

In [5]:
dict1={}
for i in range(1,18):
    dict1[i]=i**2
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289}

**TASK 2**

In [3]:
list1=["x-men", "Marvel", "DC"] 
list2=[{"Wolverine", "Grey", "cyclops","Mystique"},
       {"Iron Man", "Thor", "Loki", "Hulk"},
       {"Aquaman", "Wonder Woman", "Superman", "Flash"}] 
       

dict2=dict(zip(list1,list2))

print(dict2)

{'x-men': {'Grey', 'Wolverine', 'Mystique', 'cyclops'}, 'Marvel': {'Iron Man', 'Thor', 'Hulk', 'Loki'}, 'DC': {'Aquaman', 'Flash', 'Wonder Woman', 'Superman'}}

**TASK 3**

In [4]:
dict3={"l1":[9,5,4],"l2":[4,1,2],"l3":[3,3,3]}

for i in dict3.values():
    i.sort()

print(dict3)

{'l1': [4, 5, 9], 'l2': [1, 2, 4], 'l3': [3, 3, 3]}