## T. SNEHA REDDY
## AP19110010128, CSE.
### Day23 TASK(2-07-2021)

### **Task**
* Apply Polynomial Regression by taking two predictors

In [10]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
brains=pd.read_csv("https://raw.githubusercontent.com/AP-Skill-Development-Corporation/DataScienceUsingPython-Internship-SRM-University/main/Datasets/Datasets-master/Regression/headbrain.csv")
brains

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [3]:
brains.shape

(237, 4)

In [4]:
brains.isnull().sum()

Gender                 0
Age Range              0
Head Size(cm^3)        0
Brain Weight(grams)    0
dtype: int64

In [5]:
x=brains.drop(["Brain Weight(grams)","Age Range"],axis=1)
y=brains["Brain Weight(grams)"]

In [6]:
# Creating polynomial degree

from sklearn.preprocessing import PolynomialFeatures

poly=PolynomialFeatures(degree=5)
x_poly=poly.fit_transform(x)

In [7]:
re=LinearRegression()

re.fit(x_poly,y)

LinearRegression()

In [8]:
y_pred=re.predict(x_poly)

In [13]:
from sklearn.metrics import r2_score
r2_score(y,y_pred)*100

65.11611334448048